@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --clr-brightOrange: hsl(31, 77%, 52%);
  --clr-darkCyan: hsl(184, 100%, 22%);
  --clr-veryDarkCyan: hsl(179, 100%, 13%);
  --clr-transparentWhite: hsla(0, 0%, 100%, 0.75);
  --clr-white: #fff;
  --clr-veryLightGray: hsl(0, 0%, 95%);
  --ff-heading: 'Big Shoulders Display', serif;
  --ff-main: 'Lexend Deca', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--ff-main);
  font-size: 1rem;
  background-color: var(--clr-veryLightGray);
}

.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  padding: 1.875em;
  max-width: 90%;
  margin: 0 auto;
  min-height: 400px;
}

.container a {
  text-decoration: none;
  background-color: var(--clr-transparentWhite);
  border-radius: 20px;
  padding: 1em 2em;
}

.container p {
  margin-bottom: 3.5em;
  line-height: 1.6;
}

.container h2 {
  margin-bottom: 0.5em;
}

.sedans {
  background-color: var(--clr-brightOrange);
  color: var(--clr-white);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.sedans a {
  color: var(--clr-brightOrange);
}

.suvs {
  background-color: var(--clr-darkCyan);
  color: var(--clr-white);
}

.suvs a {
  color: var(--clr-darkCyan);
}

.luxury {
  background-color: var(--clr-veryDarkCyan);
  color: var(--clr-white);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.luxury a {
  color: var(--clr-veryDarkCyan);
}

h2 {
  font-family: var(--ff-heading);
  font-size: 2.5rem;
}

footer {
  font-size: 11px;
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 15em;
  }

  .sedans {
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
  }

  .luxury {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }

  .container a:hover {
    border: 2px solid var(--clr-white);
    background-color: transparent;
    color: var(--clr-white);
  }
}
